macros/G4History.macro
macros/auxiliary_studies/simplified_geometry/G4History.macro
materialscan/
macros/G4LBLVtx.root
macros/SimpleNtuple.root
macros/SimpleNtuple_copy.root
macros/Fun4All_G4_FAIR_copy.C
macros/SimpleNtuple_quadrant_limitedEta.root
macros/barrel_only_FastTrackingEval_1.root
macros/barrel_only_FastTrackingEval_2.root
cori_batch/run_shared.sh~
cori_batch/sPHENIX_shifter.sh~
macros/FastTrackingEval.root
cori_batch/#run_shared.sh#
cori_batch/#slurm-29717230_1.out#
macros/out_allSi_pi-_FastTrackingEval.root
*.out
source/Makefile.in
source/aclocal.m4
source/autom4te.cache/
source/config.guess
source/config.sub
source/configure
source/depcomp
source/install-sh
source/ltmain.sh
source/missing

macros/*.root

cori_batch/sPHENIX_shifter.sh
cori_batch/run_shared_pim_sPHENIX.sh

macros/analysis.C
macros/test.C
macros/test2.C

macros/auxiliary_studies/vertexing/cori_batch/sourceme_0.05_10um.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_0.05_20um.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_0.3_10um.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_0.3_20um.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_overall.sh

macros/A_Kiselev_study/

macros/auxiliary_studies/vertexing/cori_batch/run_001_p_0_7_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_010_p_0_7_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_011_p_0_7_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_100_p_0_7_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_101_p_0_7_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_110_p_0_7_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_111_p_0_7_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_p_0_7_GeV_1.4T.sh

cori_batch/old_scripts/

macros/auxiliary_studies/vertexing/G4History.macro

macros/auxiliary_studies/vertexing/cori_batch/run_001_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_001_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_001_p_7_30_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_010_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_010_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_010_p_7_30_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_011_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_011_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_011_p_7_30_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_100_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_100_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_100_p_7_30_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_101_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_101_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_101_p_7_30_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_110_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_110_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_110_p_7_30_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_111_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_111_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/run_111_p_7_30_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/shifter_dead_layers.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_p_0_1_GeV_1.4T.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_p_0_1_GeV_3.0T.sh
macros/auxiliary_studies/vertexing/cori_batch/sourceme_p_7_30_GeV_1.4T.sh

cori_batch/new_vtx_run_shared_pim_det1_10x10.sh
cori_batch/new_vtx_run_shared_pim_det1_20x20.sh
cori_batch/new_vtx_run_shared_pim_det2_20x20.sh
cori_batch/new_vtx_run_shared_pim_det3_10x10.sh
cori_batch/new_vtx_run_shared_pim_det3_20x20.sh

cori_batch/run_shared_pim_det1_20x20.sh
cori_batch/run_shared_pim_det2_10x10_GEM.sh
cori_batch/run_shared_pim_det2_10x10_GEM_RICH.sh
cori_batch/run_shared_pim_det2_20x20.sh
cori_batch/run_shared_pim_det2_20x20_GEM.sh
cori_batch/run_shared_pim_det2_20x20_GEM_RICH.sh

